html, body{
    height: 100vh;
}
body{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-size: 50px;
    font-weight:bolder;
}
#app{
    display: block;
    padding: 5px;
    text-align: center;
}
#brawler{
    padding: 5px;
    display: inline-block;
    
}
#img{
    padding: 5px;
    display: inline-block;
   
}
#conjunto{
    
    padding: 5px;
    text-align: center;
}
#copas{
    display: inline-block;
}
